.card-component {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #95dada;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  -moz-osx-font-smoothing: grayscale;
}

.card-component:hover {
  transform: scale(1.05);
}
